.ContactsCreate {
  overflow: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  background-color: #1e3e57;
  background-image: linear-gradient(
    162.21deg,
    #517879 4.83%,
    #1e3e57 103.44%
  );
}
