.ContactForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 37.5rem;
  padding: 8.125rem 6.25rem;
  background: #ffffff;
  border-radius: 30px;
}
